# Common variables
GCP_PROJECT_ID: altoros
GCP_CREDENTIALS_FILE: /path/to/creds.json
VM_NAME: nameofthevm

# VM creation
TEMPLATE_NAME: template-name
VM_DESCRIPTION: "Created ad 01.01.2011 by SelfPortal. Authorized by used v.pupkin"
DEFAULT_DISK_SIZE: 30
DEFAULT_VM_SIZE: n1-standard-1
DEFAULT_ZONE: europe-west2-a
SSH_KEY: idrsablablabla
# Windows VM creation
ADMIN_PASSWORD: password

# VM management
VM_STATE: STOPPING
# Can be one of the following
#RUNNING - equal to start
#TERMINATED - equal to stop
#absent - equal to terminate

# Snapshot management
SNAPSHOT_NAME: name
SNAPSHOT_STATE: present
# Can be either present, absent or revert